<h1>Users</h1>
         <table>
            <thead>
                  <tr>
                     <th>FirstName</th>
                     <th>LastName</th>
                     <th>Age</th>
                     <th>Email</th>
                  </tr>
            </thead> 
            <tbody>
               <% @users.each do |user| %>
                  <tr>
                     <td><%= user.firstname %></td>
                     <td><%=user.lastname %></td>
                     <td><%=user.age %></td>
                     <td><%=user.email %></td>

                  </tr>
               <% end %>
            </tbody>
        </table>