<form action = "/users" method = "POST">

<label for = "firstname">First Name</label>
<input type = "string" id = "firstname" name = "firstname">

<label for = "lastname">Last Name</label>
<input type = "string" id = "lastname" name = "lastname">

<label for = "age">Age</label>
<input type = "integer" id = "age" name = "age">

<label for = "password">Password</label>
<input type = "string" id = "password" name = "password">

<label for = "email">Email</label>
<input type = "string" id = "email" name = "email">

<input type = "submit" value = "Create User">

</form>